In [1]:
import pandas as pd
import numpy as np

In [2]:
dfs = []
for year in range(1996,2023):
  df = pd.read_excel(f"/content/drive/MyDrive/Data Cleaning/data/imeca{year}.xls")
  dfs.append(df)

In [3]:
df_imeca = pd.concat(dfs, ignore_index=True)
df_imeca

,Fecha,Hora,Noroeste Ozono,Noroeste dióxido de azufre,Noroeste dióxido de nitrógeno,Noroeste monóxido de carbono,Noroeste PM10,Noreste Ozono,Noreste dióxido de azufre,Noreste dióxido de nitrógeno,...,Noroeste ozono,Noroeste PM25,Noreste ozono,Noreste PM25,Centro ozono,Centro PM25,Suroeste ozono,Suroeste PM25,Sureste ozono,Sureste PM25
0,1996-01-01,7,21.0,10,13,35,22,21.0,16,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1996-01-01,8,22.0,10,18,32,23,16.0,16,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1996-01-01,9,25.0,10,23,32,24,17.0,16,24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1996-01-01,10,40.0,10,30,33,24,42.0,16,26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1996-01-01,11,58.0,10,11,33,24,66.0,16,25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227011,2022-12-31,20,NaN,4,17,5,38,NaN,2,18,...,19.0,58.0,19.0,56.0,21.0,54.0,26.0,51.0,25.0,61.0
227012,2022-12-31,21,NaN,4,14,5,39,NaN,2,22,...,11.0,59.0,13.0,56.0,13.0,54.0,24.0,52.0,23.0,62.0
227013,2022-12-31,22,NaN,4,20,6,40,NaN,2,22,...,6.0,60.0,8.0,57.0,11.0,54.0,21.0,51.0,15.0,62.0
227014,2022-12-31,23,NaN,4,22,7,40,NaN,2,20,...,8.0,60.0,5.0,58.0,6.0,54.0,22.0,51.0,11.0,63.0
227015,2022-12-31,24,NaN,4,20,8,41,NaN,4,18,...,3.0,61.0,5.0,59.0,3.0,55.0,22.0,52.0,17.0,65.0

In [4]:
df_imeca.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227016 entries, 0 to 227015
Data columns (total 38 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Fecha                          209472 non-null  datetime64[ns]
 1   Hora                           227016 non-null  int64
 2   Noroeste Ozono                 193416 non-null  float64
 3   Noroeste dióxido de azufre     227016 non-null  int64
 4   Noroeste dióxido de nitrógeno  227016 non-null  int64
 5   Noroeste monóxido de carbono   227016 non-null  int64
 6   Noroeste PM10                  227016 non-null  int64
 7   Noreste Ozono                  193416 non-null  float64
 8   Noreste dióxido de azufre      227016 non-null  int64
 9   Noreste dióxido de nitrógeno   227016 non-null  int64
 10  Noreste monóxido de carbono    227016 non-null  int64
 11  Noreste PM10                   227016 non-null  int64
 12  Centro Ozono                   193416 non-null  float64
 13  Centro dióxido de azufre       227016 non-null  int64
 14  Centro dióxido de nitrógeno    227016 non-null  int64
 15  Centro monóxido de carbono     227016 non-null  int64
 16  Centro PM10                    227016 non-null  int64
 17  Suroeste Ozono                 193416 non-null  float64
 18  Suroeste dióxido de azufre     227016 non-null  int64
 19  Suroeste dióxido de nitrógeno  227016 non-null  int64
 20  Suroeste monóxido de carbono   227016 non-null  int64
 21  Suroeste PM10                  227016 non-null  int64
 22  Sureste Ozono                  193416 non-null  float64
 23  Sureste dióxido de azufre      227016 non-null  int64
 24  Sureste dióxido de nitrógeno   227016 non-null  int64
 25  Sureste monóxido de carbono    227016 non-null  int64
 26  Sureste PM10                   227016 non-null  int64
 27  FECHA                          17544 non-null   datetime64[ns]
 28  Noroeste ozono                 33600 non-null   float64
 29  Noroeste PM25                  33600 non-null   float64
 30  Noreste ozono                  33600 non-null   float64
 31  Noreste PM25                   33600 non-null   float64
 32  Centro ozono                   33600 non-null   float64
 33  Centro PM25                    33600 non-null   float64
 34  Suroeste ozono                 33600 non-null   float64
 35  Suroeste PM25                  33600 non-null   float64
 36  Sureste ozono                  33600 non-null   float64
 37  Sureste PM25                   33600 non-null   float64
dtypes: datetime64[ns](2), float64(15), int64(21)
memory usage: 65.8 MB

In [6]:
df_imeca[-pd.isna(df_imeca).FECHA].FECHA

18096   1999-01-01
18097   1999-01-01
18098   1999-01-01
18099   1999-01-01
18100   1999-01-01
           ...
35635   2000-12-31
35636   2000-12-31
35637   2000-12-31
35638   2000-12-31
35639   2000-12-31
Name: FECHA, Length: 17544, dtype: datetime64[ns]

In [7]:
#Combinando Fecha y FECHA
df_imeca.Fecha = df_imeca.Fecha.combine_first(df_imeca.FECHA)

In [8]:
df_imeca.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227016 entries, 0 to 227015
Data columns (total 38 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Fecha                          227016 non-null  datetime64[ns]
 1   Hora                           227016 non-null  int64
 2   Noroeste Ozono                 193416 non-null  float64
 3   Noroeste dióxido de azufre     227016 non-null  int64
 4   Noroeste dióxido de nitrógeno  227016 non-null  int64
 5   Noroeste monóxido de carbono   227016 non-null  int64
 6   Noroeste PM10                  227016 non-null  int64
 7   Noreste Ozono                  193416 non-null  float64
 8   Noreste dióxido de azufre      227016 non-null  int64
 9   Noreste dióxido de nitrógeno   227016 non-null  int64
 10  Noreste monóxido de carbono    227016 non-null  int64
 11  Noreste PM10                   227016 non-null  int64
 12  Centro Ozono                   193416 non-null  float64
 13  Centro dióxido de azufre       227016 non-null  int64
 14  Centro dióxido de nitrógeno    227016 non-null  int64
 15  Centro monóxido de carbono     227016 non-null  int64
 16  Centro PM10                    227016 non-null  int64
 17  Suroeste Ozono                 193416 non-null  float64
 18  Suroeste dióxido de azufre     227016 non-null  int64
 19  Suroeste dióxido de nitrógeno  227016 non-null  int64
 20  Suroeste monóxido de carbono   227016 non-null  int64
 21  Suroeste PM10                  227016 non-null  int64
 22  Sureste Ozono                  193416 non-null  float64
 23  Sureste dióxido de azufre      227016 non-null  int64
 24  Sureste dióxido de nitrógeno   227016 non-null  int64
 25  Sureste monóxido de carbono    227016 non-null  int64
 26  Sureste PM10                   227016 non-null  int64
 27  FECHA                          17544 non-null   datetime64[ns]
 28  Noroeste ozono                 33600 non-null   float64
 29  Noroeste PM25                  33600 non-null   float64
 30  Noreste ozono                  33600 non-null   float64
 31  Noreste PM25                   33600 non-null   float64
 32  Centro ozono                   33600 non-null   float64
 33  Centro PM25                    33600 non-null   float64
 34  Suroeste ozono                 33600 non-null   float64
 35  Suroeste PM25                  33600 non-null   float64
 36  Sureste ozono                  33600 non-null   float64
 37  Sureste PM25                   33600 non-null   float64
dtypes: datetime64[ns](2), float64(15), int64(21)
memory usage: 65.8 MB

In [11]:
#Aplicando a columnas restantes
zonas = ["Noroeste", "Noreste", "Centro", "Suroeste","Sureste"]
for zona in zonas:
  df_imeca[f"{zona} Ozono"] = df_imeca[f"{zona} Ozono"].combine_first(df_imeca[f"{zona} ozono"])

In [12]:
df_imeca.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227016 entries, 0 to 227015
Data columns (total 38 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Fecha                          227016 non-null  datetime64[ns]
 1   Hora                           227016 non-null  int64
 2   Noroeste Ozono                 227016 non-null  float64
 3   Noroeste dióxido de azufre     227016 non-null  int64
 4   Noroeste dióxido de nitrógeno  227016 non-null  int64
 5   Noroeste monóxido de carbono   227016 non-null  int64
 6   Noroeste PM10                  227016 non-null  int64
 7   Noreste Ozono                  227016 non-null  float64
 8   Noreste dióxido de azufre      227016 non-null  int64
 9   Noreste dióxido de nitrógeno   227016 non-null  int64
 10  Noreste monóxido de carbono    227016 non-null  int64
 11  Noreste PM10                   227016 non-null  int64
 12  Centro Ozono                   227016 non-null  float64
 13  Centro dióxido de azufre       227016 non-null  int64
 14  Centro dióxido de nitrógeno    227016 non-null  int64
 15  Centro monóxido de carbono     227016 non-null  int64
 16  Centro PM10                    227016 non-null  int64
 17  Suroeste Ozono                 227016 non-null  float64
 18  Suroeste dióxido de azufre     227016 non-null  int64
 19  Suroeste dióxido de nitrógeno  227016 non-null  int64
 20  Suroeste monóxido de carbono   227016 non-null  int64
 21  Suroeste PM10                  227016 non-null  int64
 22  Sureste Ozono                  227016 non-null  float64
 23  Sureste dióxido de azufre      227016 non-null  int64
 24  Sureste dióxido de nitrógeno   227016 non-null  int64
 25  Sureste monóxido de carbono    227016 non-null  int64
 26  Sureste PM10                   227016 non-null  int64
 27  FECHA                          17544 non-null   datetime64[ns]
 28  Noroeste ozono                 33600 non-null   float64
 29  Noroeste PM25                  33600 non-null   float64
 30  Noreste ozono                  33600 non-null   float64
 31  Noreste PM25                   33600 non-null   float64
 32  Centro ozono                   33600 non-null   float64
 33  Centro PM25                    33600 non-null   float64
 34  Suroeste ozono                 33600 non-null   float64
 35  Suroeste PM25                  33600 non-null   float64
 36  Sureste ozono                  33600 non-null   float64
 37  Sureste PM25                   33600 non-null   float64
dtypes: datetime64[ns](2), float64(15), int64(21)
memory usage: 65.8 MB

In [15]:
#Borrando las columnas sobrantes
df_imeca = df_imeca.drop(columns=["FECHA"] + [f"{zona} ozono" for zona in zonas])
df_imeca

,Fecha,Hora,Noroeste Ozono,Noroeste dióxido de azufre,Noroeste dióxido de nitrógeno,Noroeste monóxido de carbono,Noroeste PM10,Noreste Ozono,Noreste dióxido de azufre,Noreste dióxido de nitrógeno,...,Sureste Ozono,Sureste dióxido de azufre,Sureste dióxido de nitrógeno,Sureste monóxido de carbono,Sureste PM10,Noroeste PM25,Noreste PM25,Centro PM25,Suroeste PM25,Sureste PM25
0,1996-01-01,7,21.0,10,13,35,22,21.0,16,14,...,28.0,10,19,63,21,NaN,NaN,NaN,NaN,NaN
1,1996-01-01,8,22.0,10,18,32,23,16.0,16,16,...,37.0,10,18,72,22,NaN,NaN,NaN,NaN,NaN
2,1996-01-01,9,25.0,10,23,32,24,17.0,16,24,...,31.0,11,23,75,23,NaN,NaN,NaN,NaN,NaN
3,1996-01-01,10,40.0,10,30,33,24,42.0,16,26,...,42.0,11,27,77,22,NaN,NaN,NaN,NaN,NaN
4,1996-01-01,11,58.0,10,11,33,24,66.0,16,25,...,57.0,11,15,71,22,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227011,2022-12-31,20,19.0,4,17,5,38,19.0,2,18,...,25.0,2,11,4,26,58.0,56.0,54.0,51.0,61.0
227012,2022-12-31,21,11.0,4,14,5,39,13.0,2,22,...,23.0,2,11,4,25,59.0,56.0,54.0,52.0,62.0
227013,2022-12-31,22,6.0,4,20,6,40,8.0,2,22,...,15.0,2,15,5,25,60.0,57.0,54.0,51.0,62.0
227014,2022-12-31,23,8.0,4,22,7,40,5.0,2,20,...,11.0,2,17,5,28,60.0,58.0,54.0,51.0,63.0
227015,2022-12-31,24,3.0,4,20,8,41,5.0,4,18,...,17.0,2,17,6,29,61.0,59.0,55.0,52.0,65.0

In [16]:
df_imeca.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227016 entries, 0 to 227015
Data columns (total 32 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Fecha                          227016 non-null  datetime64[ns]
 1   Hora                           227016 non-null  int64
 2   Noroeste Ozono                 227016 non-null  float64
 3   Noroeste dióxido de azufre     227016 non-null  int64
 4   Noroeste dióxido de nitrógeno  227016 non-null  int64
 5   Noroeste monóxido de carbono   227016 non-null  int64
 6   Noroeste PM10                  227016 non-null  int64
 7   Noreste Ozono                  227016 non-null  float64
 8   Noreste dióxido de azufre      227016 non-null  int64
 9   Noreste dióxido de nitrógeno   227016 non-null  int64
 10  Noreste monóxido de carbono    227016 non-null  int64
 11  Noreste PM10                   227016 non-null  int64
 12  Centro Ozono                   227016 non-null  float64
 13  Centro dióxido de azufre       227016 non-null  int64
 14  Centro dióxido de nitrógeno    227016 non-null  int64
 15  Centro monóxido de carbono     227016 non-null  int64
 16  Centro PM10                    227016 non-null  int64
 17  Suroeste Ozono                 227016 non-null  float64
 18  Suroeste dióxido de azufre     227016 non-null  int64
 19  Suroeste dióxido de nitrógeno  227016 non-null  int64
 20  Suroeste monóxido de carbono   227016 non-null  int64
 21  Suroeste PM10                  227016 non-null  int64
 22  Sureste Ozono                  227016 non-null  float64
 23  Sureste dióxido de azufre      227016 non-null  int64
 24  Sureste dióxido de nitrógeno   227016 non-null  int64
 25  Sureste monóxido de carbono    227016 non-null  int64
 26  Sureste PM10                   227016 non-null  int64
 27  Noroeste PM25                  33600 non-null   float64
 28  Noreste PM25                   33600 non-null   float64
 29  Centro PM25                    33600 non-null   float64
 30  Suroeste PM25                  33600 non-null   float64
 31  Sureste PM25                   33600 non-null   float64
dtypes: datetime64[ns](1), float64(10), int64(21)
memory usage: 55.4 MB

In [17]:
df_imeca.Hora = pd.to_timedelta(df_imeca.Hora, unit="h")
df_imeca.Hora

0        0 days 07:00:00
1        0 days 08:00:00
2        0 days 09:00:00
3        0 days 10:00:00
4        0 days 11:00:00
               ...
227011   0 days 20:00:00
227012   0 days 21:00:00
227013   0 days 22:00:00
227014   0 days 23:00:00
227015   1 days 00:00:00
Name: Hora, Length: 227016, dtype: timedelta64[ns]

In [18]:
df_imeca["Fecha-Hora"] = df_imeca.Fecha + df_imeca.Hora
df_imeca["Fecha-Hora"]

0        1996-01-01 07:00:00
1        1996-01-01 08:00:00
2        1996-01-01 09:00:00
3        1996-01-01 10:00:00
4        1996-01-01 11:00:00
                 ...
227011   2022-12-31 20:00:00
227012   2022-12-31 21:00:00
227013   2022-12-31 22:00:00
227014   2022-12-31 23:00:00
227015   2023-01-01 00:00:00
Name: Fecha-Hora, Length: 227016, dtype: datetime64[ns]

In [19]:
df_imeca = df_imeca.drop(columns=["Fecha", "Hora"])
df_imeca

,Noroeste Ozono,Noroeste dióxido de azufre,Noroeste dióxido de nitrógeno,Noroeste monóxido de carbono,Noroeste PM10,Noreste Ozono,Noreste dióxido de azufre,Noreste dióxido de nitrógeno,Noreste monóxido de carbono,Noreste PM10,...,Sureste dióxido de azufre,Sureste dióxido de nitrógeno,Sureste monóxido de carbono,Sureste PM10,Noroeste PM25,Noreste PM25,Centro PM25,Suroeste PM25,Sureste PM25,Fecha-Hora
0,21.0,10,13,35,22,21.0,16,14,21,57,...,10,19,63,21,NaN,NaN,NaN,NaN,NaN,1996-01-01 07:00:00
1,22.0,10,18,32,23,16.0,16,16,25,59,...,10,18,72,22,NaN,NaN,NaN,NaN,NaN,1996-01-01 08:00:00
2,25.0,10,23,32,24,17.0,16,24,26,62,...,11,23,75,23,NaN,NaN,NaN,NaN,NaN,1996-01-01 09:00:00
3,40.0,10,30,33,24,42.0,16,26,24,61,...,11,27,77,22,NaN,NaN,NaN,NaN,NaN,1996-01-01 10:00:00
4,58.0,10,11,33,24,66.0,16,25,23,62,...,11,15,71,22,NaN,NaN,NaN,NaN,NaN,1996-01-01 11:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227011,19.0,4,17,5,38,19.0,2,18,4,46,...,2,11,4,26,58.0,56.0,54.0,51.0,61.0,2022-12-31 20:00:00
227012,11.0,4,14,5,39,13.0,2,22,5,46,...,2,11,4,25,59.0,56.0,54.0,52.0,62.0,2022-12-31 21:00:00
227013,6.0,4,20,6,40,8.0,2,22,6,45,...,2,15,5,25,60.0,57.0,54.0,51.0,62.0,2022-12-31 22:00:00
227014,8.0,4,22,7,40,5.0,2,20,7,46,...,2,17,5,28,60.0,58.0,54.0,51.0,63.0,2022-12-31 23:00:00
227015,3.0,4,20,8,41,5.0,4,18,10,49,...,2,17,6,29,61.0,59.0,55.0,52.0,65.0,2023-01-01 00:00:00

In [20]:
#Deteccion de valores faltantes
df_imeca = df_imeca.replace(-99, np.nan)
df_imeca.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227016 entries, 0 to 227015
Data columns (total 31 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Noroeste Ozono                 225437 non-null  float64
 1   Noroeste dióxido de azufre     227012 non-null  float64
 2   Noroeste dióxido de nitrógeno  225447 non-null  float64
 3   Noroeste monóxido de carbono   224406 non-null  float64
 4   Noroeste PM10                  226829 non-null  float64
 5   Noreste Ozono                  225517 non-null  float64
 6   Noreste dióxido de azufre      227013 non-null  float64
 7   Noreste dióxido de nitrógeno   225420 non-null  float64
 8   Noreste monóxido de carbono    224419 non-null  float64
 9   Noreste PM10                   226441 non-null  float64
 10  Centro Ozono                   225477 non-null  float64
 11  Centro dióxido de azufre       226933 non-null  float64
 12  Centro dióxido de nitrógeno    225428 non-null  float64
 13  Centro monóxido de carbono     224479 non-null  float64
 14  Centro PM10                    226032 non-null  float64
 15  Suroeste Ozono                 225512 non-null  float64
 16  Suroeste dióxido de azufre     226991 non-null  float64
 17  Suroeste dióxido de nitrógeno  225489 non-null  float64
 18  Suroeste monóxido de carbono   224393 non-null  float64
 19  Suroeste PM10                  226449 non-null  float64
 20  Sureste Ozono                  225398 non-null  float64
 21  Sureste dióxido de azufre      226877 non-null  float64
 22  Sureste dióxido de nitrógeno   225232 non-null  float64
 23  Sureste monóxido de carbono    224270 non-null  float64
 24  Sureste PM10                   222686 non-null  float64
 25  Noroeste PM25                  31400 non-null   float64
 26  Noreste PM25                   33322 non-null   float64
 27  Centro PM25                    33360 non-null   float64
 28  Suroeste PM25                  33381 non-null   float64
 29  Sureste PM25                   33518 non-null   float64
 30  Fecha-Hora                     227016 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(30)
memory usage: 53.7 MB

np.int64(1579)

In [23]:
missing_values = df_imeca.isnull().sum()
missing_percentage = (missing_values / len(df_imeca)) * 100

# Filter to show only columns with missing values
missing_info = pd.DataFrame({
    'Missing Count': missing_values,
    'Missing Percentage': missing_percentage
}).sort_values(by='Missing Percentage', ascending=False)

display(missing_info[missing_info['Missing Count'] > 0])

                               Missing Count  Missing Percentage
Noroeste PM25                         195616           86.168376
Noreste PM25                          193694           85.321739
Centro PM25                           193656           85.305001
Suroeste PM25                         193635           85.295750
Sureste PM25                          193498           85.235402
Sureste PM10                            4330            1.907355
Sureste monóxido de carbono             2746            1.209606
Suroeste monóxido de carbono            2623            1.155425
Noroeste monóxido de carbono            2610            1.149699
Noreste monóxido de carbono             2597            1.143972
Centro monóxido de carbono              2537            1.117542
Sureste dióxido de nitrógeno            1784            0.785848
Sureste Ozono                           1618            0.712725
Noreste dióxido de nitrógeno            1596            0.703034
Centro dióxido de nitrógeno             1588            0.699510
Noroeste Ozono                          1579            0.695546
Noroeste dióxido de nitrógeno           1569            0.691141
Centro Ozono                            1539            0.677926
Suroeste dióxido de nitrógeno           1527            0.672640
Suroeste Ozono                          1504            0.662508
Noreste Ozono                           1499            0.660306
Centro PM10                              984            0.433450
Noreste PM10                             575            0.253286
Suroeste PM10                            567            0.249762
Noroeste PM10                            187            0.082373
Sureste dióxido de azufre                139            0.061229
Centro dióxido de azufre                  83            0.036561
Suroeste dióxido de azufre                25            0.011012
Noroeste dióxido de azufre                 4            0.001762
Noreste dióxido de azufre                  3            0.001321

In [27]:
#PONIENDO FECHA-HORA COMO LA PRIMERA COLUMNA
df_imeca = df_imeca[["Fecha-Hora"] + [col for col in df_imeca.columns if col != "Fecha-Hora"]]
df_imeca

,Fecha-Hora,Noroeste Ozono,Noroeste dióxido de azufre,Noroeste dióxido de nitrógeno,Noroeste monóxido de carbono,Noroeste PM10,Noreste Ozono,Noreste dióxido de azufre,Noreste dióxido de nitrógeno,Noreste monóxido de carbono,...,Sureste Ozono,Sureste dióxido de azufre,Sureste dióxido de nitrógeno,Sureste monóxido de carbono,Sureste PM10,Noroeste PM25,Noreste PM25,Centro PM25,Suroeste PM25,Sureste PM25
0,1996-01-01 07:00:00,21.0,10.0,13.0,35.0,22.0,21.0,16.0,14.0,21.0,...,28.0,10.0,19.0,63.0,21.0,NaN,NaN,NaN,NaN,NaN
1,1996-01-01 08:00:00,22.0,10.0,18.0,32.0,23.0,16.0,16.0,16.0,25.0,...,37.0,10.0,18.0,72.0,22.0,NaN,NaN,NaN,NaN,NaN
2,1996-01-01 09:00:00,25.0,10.0,23.0,32.0,24.0,17.0,16.0,24.0,26.0,...,31.0,11.0,23.0,75.0,23.0,NaN,NaN,NaN,NaN,NaN
3,1996-01-01 10:00:00,40.0,10.0,30.0,33.0,24.0,42.0,16.0,26.0,24.0,...,42.0,11.0,27.0,77.0,22.0,NaN,NaN,NaN,NaN,NaN
4,1996-01-01 11:00:00,58.0,10.0,11.0,33.0,24.0,66.0,16.0,25.0,23.0,...,57.0,11.0,15.0,71.0,22.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227011,2022-12-31 20:00:00,19.0,4.0,17.0,5.0,38.0,19.0,2.0,18.0,4.0,...,25.0,2.0,11.0,4.0,26.0,58.0,56.0,54.0,51.0,61.0
227012,2022-12-31 21:00:00,11.0,4.0,14.0,5.0,39.0,13.0,2.0,22.0,5.0,...,23.0,2.0,11.0,4.0,25.0,59.0,56.0,54.0,52.0,62.0
227013,2022-12-31 22:00:00,6.0,4.0,20.0,6.0,40.0,8.0,2.0,22.0,6.0,...,15.0,2.0,15.0,5.0,25.0,60.0,57.0,54.0,51.0,62.0
227014,2022-12-31 23:00:00,8.0,4.0,22.0,7.0,40.0,5.0,2.0,20.0,7.0,...,11.0,2.0,17.0,5.0,28.0,60.0,58.0,54.0,51.0,63.0
227015,2023-01-01 00:00:00,3.0,4.0,20.0,8.0,41.0,5.0,4.0,18.0,10.0,...,17.0,2.0,17.0,6.0,29.0,61.0,59.0,55.0,52.0,65.0